<header class="bg-sky-950">
  <div class="container flex items-center justify-between py-4 mx-auto">
    <div class="flex items-center">
      <span class="text-lg font-bold text-white">Financial Control VlV</span>
    </div>
    <div class="flex items-center text-white">
      <a href="#" class="mr-4">Home</a>
      <a href="#" class="mr-4">About</a>
    </div>
    <div>
      <button
        class="px-4 py-2 font-semibold text-white bg-blue-500 rounded hover:bg-blue-600"
      >
        Sign in / Sign up
      </button>
    </div>
  </div>
</header>
